<!-- Action Bar-->
<div id="actionbar" class="action-bar show-action-bar m-2">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- Title -->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="my-1 mr-3">FacturaGlobalDetalleTaxes Form</h5>
            </div>
        </div>

        <!-- Actions -->
        <!--<div class="d-flex align-items-center">
            <span class="text-sm" for="description" *ngIf="editAction===true">Edit FacturaGlobalDetalleTaxes</span>
            <span class="text-sm" for="description" *ngIf="editAction!==true">Create FacturaGlobalDetalleTaxes</span>
        </div>-->
    </div>
</div>
<!-- Container -->
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Listing -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
                    <div class="card">
                        <!-- Loader -->
                        <div class="loader-orion" *ngIf="showLoading===true">
                            <div class="spinner-grow text-primary m-auto" role="status">
                            </div>
                        </div>
                        <div class="card-header align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="card-title m-1">FacturaGlobalDetalleTaxes</h5>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="frmFacturaGlobalDetalleTaxes" (ngSubmit)="saveForm()">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion</label>
                                            <input type="text" class="form-control form-control-color" formControlName="descripcion"
                                                [ngClass]="{ 'is-invalid': validation && f.descripcion.errors }">
                                            <div *ngIf="validation && f.descripcion.errors" class="invalid-feedback">
                                                <div *ngIf="f.descripcion.errors.maxlength">Maximum field length is 50</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="facturaGlobalDetalleId">FacturaGlobalDetalleId</label>
                                            <input type="text" class="form-control form-control-color" formControlName="facturaGlobalDetalleId"
                                                [ngClass]="{ 'is-invalid': validation && f.facturaGlobalDetalleId.errors }">
                                            <div *ngIf="validation && f.facturaGlobalDetalleId.errors" class="invalid-feedback">
                                                <div *ngIf="f.facturaGlobalDetalleId.errors.pattern">Only integer numbers</div>
                                                <div *ngIf="f.facturaGlobalDetalleId.errors.min">Minimum value is -2147483648</div>
                                                <div *ngIf="f.facturaGlobalDetalleId.errors.max">Maximum value is 2147483647</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control form-control-color" formControlName="name"
                                                [ngClass]="{ 'is-invalid': validation && f.name.errors }">
                                            <div *ngIf="validation && f.name.errors" class="invalid-feedback">
                                                <div *ngIf="f.name.errors.maxlength">Maximum field length is 50</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="base">Base</label>
                                            <input type="text" class="form-control form-control-color" formControlName="base"
                                                [ngClass]="{ 'is-invalid': validation && f.base.errors }">
                                            <div *ngIf="validation && f.base.errors" class="invalid-feedback">
                                                <div *ngIf="f.base.errors.pattern">Only numbers</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="rate">Rate</label>
                                            <input type="text" class="form-control form-control-color" formControlName="rate"
                                                [ngClass]="{ 'is-invalid': validation && f.rate.errors }">
                                            <div *ngIf="validation && f.rate.errors" class="invalid-feedback">
                                                <div *ngIf="f.rate.errors.pattern">Only numbers</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="isRetention">IsRetention</label>
                                            <input type="text" class="form-control form-control-color" formControlName="isRetention"
                                                [ngClass]="{ 'is-invalid': validation && f.isRetention.errors }">
                                            <div *ngIf="validation && f.isRetention.errors" class="invalid-feedback">
                                                <div *ngIf="f.isRetention.errors.pattern">Only integer numbers</div>
                                                <div *ngIf="f.isRetention.errors.min">Minimum value is -128</div>
                                                <div *ngIf="f.isRetention.errors.max">Maximum value is 127</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="total">Total</label>
                                            <input type="text" class="form-control form-control-color" formControlName="total"
                                                [ngClass]="{ 'is-invalid': validation && f.total.errors }">
                                            <div *ngIf="validation && f.total.errors" class="invalid-feedback">
                                                <div *ngIf="f.total.errors.pattern">Only numbers</div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end mt-3">
                                        <button type="button" class="btn btn-default mr-3"
                                            [routerLink]="['/amcoderc_dev_Jaks/facturaGlobalDetalleTaxes']">Cancel</button>
                                        <button type="button" class="btn btn-primary" type="submit"
                                            >Save</button>
                                    </div>
                                </div>
                            </form>
                            <!-- <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
