<!-- Start >> Login -->
<div class="vertical-center dark">
    <div class="card card-center">
        <!-- Logo -->
        <div class="m-auto">
            <!-- <img class="img-xl m-5" src="" alt="you logo" /> -->
            <svg class="svgColor m-5 img-xl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.66 425.68">
                <path
                    d="M383.53,213c0,26,.35,52-.11,77.91-.37,21-9.67,37.82-27.71,48.44q-67.92,40-136.54,78.77c-17.79,10.08-36.84,10.1-54.5.16q-69-38.81-137.1-79.17C10,328.65.54,311.91.34,291.35-.1,244.41.19,197.46.23,150.51c0-7.31-.73-14.68.4-21.94C3.53,110,12.5,95.22,29,85.66,74.22,59.5,119.32,33.18,164.75,7.46c17.79-10.07,36.88-9.85,54.51.08Q288,46.24,355.94,86.43c17.5,10.33,26.88,26.79,27.38,47.12.65,26.46.16,52.95.16,79.42Z" />
                <path d="M315.77,212.69A123.94,123.94,0,1,1,191.93,88.9,123.94,123.94,0,0,1,315.77,212.69Z"
                    fill="#fff" />
                <path
                    d="M252.83,213.13a60.8,60.8,0,0,1-61.14,60.67c-33.87,0-60.84-27.29-60.8-61.51,0-33.49,27.44-60.46,61.38-60.43C225.83,151.9,252.85,179.23,252.83,213.13Z" />
            </svg>
        </div>

        <!-- Card Login -->
        <div class="row m-3">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form class="container-form" [formGroup]="frmLogin" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-12 col-12 text-center mb-4">
                                    <h3>Hello, Welcome Back</h3>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label for="username">User name</label>
                                <div class="input-icon input-icon-right">
                                    <input type="text" class="form-control form-control-color" name="usuario"
                                        formControlName="username" autocomplete="off" required>
                                    <span>
                                        <i class="fi-rr-user text-muted"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <label for="password">password</label>
                                <div class="input-icon input-icon-right">
                                    <input type="password" class="form-control form-control-color" name="clave"
                                        formControlName="password" autocomplete="off" required>
                                    <span>
                                        <i class="fi-rr-lock text-muted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-md-left text-center mb-2">
                            <input id="checkUser" type="checkbox">
                            <label for="checkUser" class="text-xs mb-0">Remember me</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-md-right text-center mb-2">
                            <a href="javascript:void(0);">
                                <label class="text-xs mb-0" for="forgot-password">Forgot password?</label>
                            </a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Start Now
                            </button>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <span class="text-xs text-muted mr-3">Don't have account?</span>
                            <a href="javascript:void(0);" [routerLink]="['/register']"><span
                                    class="text-xs text-primary">Create account</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End >> Login -->