<!-- Action Bar-->
<div id="actionbar" class="action-bar show-action-bar m-2">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- Title -->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="my-1 mr-3">Configuracion Form</h5>
            </div>
        </div>

        <!-- Actions -->
        <!--<div class="d-flex align-items-center">
            <span class="text-sm" for="description" *ngIf="editAction===true">Edit Configuracion</span>
            <span class="text-sm" for="description" *ngIf="editAction!==true">Create Configuracion</span>
        </div>-->
    </div>
</div>
<!-- Container -->
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Listing -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
                    <div class="card">
                        <!-- Loader -->
                        <div class="loader-orion" *ngIf="showLoading===true">
                            <div class="spinner-grow text-primary m-auto" role="status">
                            </div>
                        </div>
                        <div class="card-header align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="card-title m-1">Configuracion</h5>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="frmConfiguracion" (ngSubmit)="saveForm()">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="id">Id</label>
                                            <input type="text" class="form-control form-control-color" formControlName="id"
                                                [ngClass]="{ 'is-invalid': validation && f.id.errors }">
                                            <div *ngIf="validation && f.id.errors" class="invalid-feedback">
                                                <div *ngIf="f.id.errors.required">Id is required</div>
                                                <div *ngIf="f.id.errors.pattern">Only integer numbers</div>
                                                <div *ngIf="f.id.errors.min">Minimum value is -2147483648</div>
                                                <div *ngIf="f.id.errors.max">Maximum value is 2147483647</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion</label>
                                            <input type="text" class="form-control form-control-color" formControlName="descripcion"
                                                [ngClass]="{ 'is-invalid': validation && f.descripcion.errors }">
                                            <div *ngIf="validation && f.descripcion.errors" class="invalid-feedback">
                                                <div *ngIf="f.descripcion.errors.required">Descripcion is required</div>
                                                <div *ngIf="f.descripcion.errors.maxlength">Maximum field length is 500</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="valor">Valor</label>
                                            <input type="text" class="form-control form-control-color" formControlName="valor"
                                                [ngClass]="{ 'is-invalid': validation && f.valor.errors }">
                                            <div *ngIf="validation && f.valor.errors" class="invalid-feedback">
                                                <div *ngIf="f.valor.errors.required">Valor is required</div>
                                                <div *ngIf="f.valor.errors.maxlength">Maximum field length is 5000</div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end mt-3">
                                        <button type="button" class="btn btn-default mr-3"
                                            [routerLink]="['/amcoderc_dev_Jaks/configuracion']">Cancel</button>
                                        <button type="button" class="btn btn-primary" type="submit"
                                            >Save</button>
                                    </div>
                                </div>
                            </form>
                            <!-- <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
